*{
  margin: 0;
  padding: 0;
}

html, body{
  width: auto!important;
  overflow-x: hidden!important;

}

.productCarousel {
  padding: 3rem
}

/*Julio additions*/

.btn {
  background-color: #B39F86;
  border-color: #B39F86
}

.card {
  border: 3px solid #67C3EC;
  margin: 1.625rem
}

.jumbotron{
  background-image: url("productos-ki-banner-2.png");
  background-size: 100% 100%;

}
