*{
  margin: 0;
  padding: 0;
}

html, body{
  width: auto!important;
  overflow-x: hidden!important;

}

/*font inclusion*/

@font-face {
    font-family: 'loraregular';
    src: url('lora-regular-webfont.woff2') format('woff2'),
         url('lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*NAVBAR STYLING*/
.navbar-toggler{
  margin-left: 4.125rem;
}
/*BRAND CONTAINER STYLING*/
.containerbrand{
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

/*PEPPER PHOTO CONTAINER STYLING*/

#pepperContainer{

  background-image: url("jumbo-maybe.jpg");
  background-size: 100% 100%;
  margin-right: auto;
  margin-left: auto;
  height: 23rem;
  width: 69rem;
}


/*JUMBOTRON WITH MEDIA QUERIES*/

/*JUMBOTRON CSS*/

/*CAROUSEL WITH CARDS TO SHOW PRODUCTS*/

.productCarousel {
  padding: 3rem
}

/*Julio additions*/

.btn {
  background-color: #8ad7c1;
}

.card {
  margin: 1.625rem;
  background-color:  #f4f9f4;
}

/*nav bar style*/

.navbar-brand{
margin: 10px;}

.navbar{
  background-color: #f4f9f4;
  font-family: 'loraregular';
}

.collapse.navbar-collapse.justify-content-end ul li a{
  color: #706c61;
}

/*body style*/

.container-fluid.d-flex.justify-content-center{
  background-color: #f4f9f4;
  font-family: 'loraregular';
}

.container-fluid.d-flex.justify-content-center h1{
  color: #706c61;
  margin-top: 10px;
}
