*{
  margin: 0;
  padding: 0;
}

html, body{
  width: auto!important;
  overflow-x: hidden!important;

}

/*font inclusion*/

@font-face {
    font-family: 'loraregular';
    src: url('lora-regular-webfont.woff2') format('woff2'),
         url('lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*JUMBOTRON WITH MEDIA QUERIES*/

/*JUMBOTRON CSS*/
.jumbotron{
  background-image: url("ki-jumbo-6-warm.jpg");
  background-size: 100% 100%;
}

@media only screen and (max-width:400px){
  .jumbotron{
    height: 6rem;
  }
}

@media only screen and (min-width:400px) and (max-width:576px){
  .jumbotron{
    height: 7.25rem;
  }
}

@media only screen and (min-width:576px) and (max-width:768px){
  .jumbotron{
    height: 11.5rem;
  }
}
@media only screen and (min-width:768px) and (max-width:992px){
  .jumbotron{
    height: 14rem;
  }
}
@media only screen and (min-width:992px) and (max-width:1200px){
  .jumbotron{
    height: 17.5rem;
  }
}
@media only screen and (min-width:1200px){
  .jumbotron{
    height: 20rem;
  }
}

/*CAROUSEL WITH CARDS TO SHOW PRODUCTS*/

.productCarousel {
  padding: 3rem
}

/*Julio additions*/

.btn {
  background-color: #8ad7c1;
}

.card {
  margin: 1.625rem;
  background-color:  #f4f9f4;
}

/*nav bar style*/

.navbar-brand{
margin: 10px;}

.navbar{
  background-color: #f4f9f4;
  font-family: 'loraregular';
}

.collapse.navbar-collapse.justify-content-end ul li a{
  color: #706c61;
}

/*body style*/

.container-fluid.d-flex.justify-content-center{
  background-color: #f4f9f4;
  font-family: 'loraregular';
}

.container-fluid.d-flex.justify-content-center h1{
  color: #706c61;
  margin-top: 5rem;
}
